<%- include("../../views/partials/user/header") %>

<style>
  /* Example custom style to prevent overlap by the header */
  .content-main {
    margin-top: 120px; /* Adjust to be larger than your header’s height */
    margin-bottom: 80px;
  }
</style>

<section class="content-main">
  <div class="card mx-auto card-login col-4">
    <div class="card-body">
      <h4 class="card-title mb-4">Enter Current Email</h4>
      <form method="post" action="/changeEmail" onsubmit="return validateLoginForm()">
        <div class="mb-3">
          <input class="form-control" name="email" placeholder="Email" type="text" id="email">
          <div class="error-message" id="email-error"></div>
        </div>
        <div class="mb-4">
          <button type="submit" class="btn btn-primary w-100">Verify</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  function validateLoginForm() {
    const emailInput = document.getElementById('email');
    const emailError = document.getElementById('email-error');
    const emailValue = emailInput.value.trim();
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

    if (emailValue === '') {
      emailError.textContent = 'Please enter your email.';
      emailInput.classList.add('is-invalid');
      return false;
    } else if (!emailValue.match(emailPattern)) {
      emailError.textContent = 'Please enter a valid email address';
      emailInput.classList.add('is-invalid');
      return false;
    } else {
      emailError.textContent = '';
      emailInput.classList.remove('is-invalid');
      return true;
    }
  }
</script>

<%- include("../../views/partials/user/footer") %>
