<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>Forgot Password</h1>
          <nav class="d-flex align-items-center">
            <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="/forgotPassword">Forgot Password</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->
  
  <%- include("../../views/partials/user/header") %>
  
  <!-- Start Forgot Password Section -->
  <section class="login_box_area section_gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login_form_inner">
            <h3>Enter Your Registered Email</h3>
            <form class="row login_form" action="/sendForgotOtp" method="POST" id="forgotForm" novalidate="novalidate">
              <div class="col-md-12 form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" required>
              </div>
              <div class="col-md-12 form-group">
                <button type="submit" class="primary-btn">Send OTP</button>
              </div>
              <div class="col-md-12 form-group">
                <p>Remember your password? <a href="/login">Login now</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Forgot Password Section -->
  
  <%- include("../../views/partials/user/footer") %>
  