<!-- Reset Password Page -->

<%- include("../../views/partials/user/header") %>

<!-- Banner / Breadcrumb Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Reset Password</h1>
        <nav class="d-flex align-items-center">
          <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="/resetPassword">Reset Password</a>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- Reset Password Form Section -->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Reset Your Password</h3>
          <% if (message) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <form class="row login_form" action="/resetPassword" method="POST" id="resetPasswordForm" novalidate="novalidate">
            <div class="col-md-12 form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'" required>
            </div>
            <div class="col-md-12 form-group">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" required>
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" class="primary-btn">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../views/partials/user/footer") %>
