
	<style>
		.error_message{
			display: none;
			color: red;
			font-size: 0.75rem;
		}
	</style>

		<%- include("../../views/partials/user/header") %>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Signup</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/signUp">Signup</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Signup Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="img/login.jpg" alt="">
						<div class="hover">
							<h4>Already have an account?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="/login">Login to your Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Create an Account</h3>
						<form class="row login_form" action="/signup" method="post" id="signupForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
							</div>
                            <div  id="error1" class="error_message"></div>

							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'">
							</div>
                            <div  id="error2" class="error_message"></div>

							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
							</div>
                            <div  id="error3" class="error_message"></div>

							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
							</div>
                            <div  id="error4" class="error_message"></div>

							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
                            <div  id="error5" class="error_message"></div>
                            
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
							</div>
                            <div  id="error6" class="error_message"></div>
							<% if (locals.message && locals.message.length > 0) { %>
								<!-- Alert Message -->
								<div class="alert alert-warning text-center w-100" id="autoFadeAlert" role="alert" style="margin-top: 20px;">
								  <%= locals.message %>
								</div>
							  
								
								<script>
								 
								  setTimeout(() => {
									const alertElement = document.getElementById('autoFadeAlert');
									if (alertElement) {
									  // Use CSS transition to fade out
									  alertElement.style.transition = "opacity 1s ease";
									  alertElement.style.opacity = 0;
									  
									  
									  setTimeout(() => {
										alertElement.remove();
									  }, 1000);
									}
								  }, 3000);
								</script>
							  <% } %>
							  

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Sign Up</button>
							</div>
							<div class="col-md-12 form-group">
                                <div class="or-separator">or</div>
                                <a href="/auth/google" class="google-signup-btn">
                                    <img src="img/gg.png" alt="Google Icon" class="google-icon"> Sign Up with Google
                                </a>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Signup Box Area =================-->

	
	<%-include("../../views/partials/user/footer")%>

</html>
<script>
    const firstNameId = document.getElementById("firstName");
    const lastNameId = document.getElementById("lastName");
    const emailId = document.getElementById("email");
    const phoneNumberId = document.getElementById("phoneNumber");
    const passwordId = document.getElementById("password");
    const confirmPasswordId = document.getElementById("confirmPassword");
    const error1 = document.getElementById("error1");
    const error2 = document.getElementById("error2");
    const error3 = document.getElementById("error3");
    const error4 = document.getElementById("error4");
    const error5 = document.getElementById("error5");
    const error6 = document.getElementById("error6");
    const signupForm = document.getElementById("signupForm");

 function firstNameValidateChecking(e){

	const firstnamevalue = firstNameId.value;
	const firstnamePattern = /^[a-zA-Z]{3,20}$/;

	if(firstnamevalue.trim()=== ""){
error1.style.display = "block";
error1.innerHTML = "First Name is required";
	}
	else if(!firstnamePattern.test(firstnamevalue)){
error1.style.display = "block";
error1.innerHTML = "First Name can only contain alphabets and must be between 3 to 20 characters";
	}
	
	else{
		error1.style.display = "none";
		error1.innerHTML = "";
	}
	
	
	}



	function lastNameValidateChecking(e){

const lastNamevalue = lastNameId.value;
const lastnamepattern = /^[a-zA-Z ]{1,20}$/;



if(lastNamevalue.trim()=== ""){
error2.style.display = "block";
error2.innerHTML = "Last Name is required";
}
else if(!lastnamepattern.test(lastNamevalue)){
error2.style.display = "block";
error2.innerHTML = "First Name can only contain alphabets and must be between 1 to 20 characters";
}

else{
	error2.style.display = "none";
	error2.innerHTML = "";
}


}

function emailValidateChecking(e){
	const emailvalue = emailId.value;
	const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

	if(emailvalue.trim()===""){
		error3.style.display = "block";
		error3.innerHTML = "Email is required";
	}
	else if(!emailPattern.test(emailvalue)){
error3.style.display = "block";
error3.innerHTML = "Email is invalid";
	}
	else{
		error3.style.display = "none";
		error3.innerHTML = "";
	}
}

function phoneNumberValidateChecking(e){
	const phoneNumberValue = phoneNumberId.value;
	const phoneNumberPattern = /^[0-9]{10}$/;

	if(phoneNumberValue.trim()===""){
		error4.style.display = "block";
		error4.innerHTML = "Phone Number is required";
	}
	else if(!phoneNumberPattern.test(phoneNumberValue)){
		error4.style.display = "block";
		error4.innerHTML = "Phone Number is invalid";

	}
	else{
		error4.style.display ="none";
		error4.innerHTML = "";

	}
}

function passwordValidateChecking(e){
	const passwordValue = passwordId.value;
	const confirmpasswordvalue = confirmPasswordId.value;
    const alpha = /[a-zA-Z]/;
		const number = /\d/;

   if(passwordValue.length <8 ){
	error5.style.display = "block";
	error5.innerHTML = "Password must be atleast 8 characters long";
   }
   else if(!alpha.test(passwordValue) || !number.test(passwordValue)){
	error5.style.display = "block";
	error5.innerHTML = "Password must contain atleast one alphabet and one number";
   }
   else{
	error5.style.display = "none";
	error5.innerHTML = "";
   }
   if(confirmpasswordvalue.trim() !== "" && passwordValue !== confirmpasswordvalue){	
	error6.style.display = "block";
	error6.innerHTML = "Password and Confirm Password must be same";
   }
   else{
	error6.style.display = "none";
	error6.innerHTML = "";
   }

}

function confirmPasswordValidateChecking() {
    const passwordValue = passwordId.value;
    const confirmPasswordValue = confirmPasswordId.value;

    if (confirmPasswordValue.trim() === "") {
        error6.style.display = "block";
        error6.innerHTML = "Confirm Password is required";
    } else if (passwordValue !== confirmPasswordValue) {
        error6.style.display = "block";
        error6.innerHTML = "Passwords do not match";
    } else {
        error6.style.display = "none";
        error6.innerHTML = "";
    }
}


document.addEventListener("DOMContentLoaded", function() {
   
    firstNameId.addEventListener("input", firstNameValidateChecking);
    lastNameId.addEventListener("input", lastNameValidateChecking);
    emailId.addEventListener("input", emailValidateChecking);
    phoneNumberId.addEventListener("input", phoneNumberValidateChecking);
    passwordId.addEventListener("input", passwordValidateChecking);
    confirmPasswordId.addEventListener("input", confirmPasswordValidateChecking);

    
    signupForm.addEventListener("submit", function(e) {
        e.preventDefault(); 

        
        firstNameValidateChecking();
        lastNameValidateChecking();
        emailValidateChecking();
        phoneNumberValidateChecking();
        passwordValidateChecking();
        confirmPasswordValidateChecking();

        
        const hasErrors = 
            error1.innerHTML || 
            error2.innerHTML || 
            error3.innerHTML || 
            error4.innerHTML || 
            error5.innerHTML || 
            error6.innerHTML;

       
        if (!hasErrors) {
            signupForm.submit();
        }
    });
});



</script>